*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #111;
}
#elm{
    height: 50px;
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
}
#elm h1{
    font-size: 7vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}
#elm img{
     position: absolute;
     height: 65px;
     width: 65px;
     object-fit: cover;
     object-position: center;
     border-radius: 50%;
    opacity: 0;
    transition: all linear 0.2s;
     /* mix-blend-mode: difference; */
     
}